# Bin function

In [1]:
a = 10
print(bin(a))  #It converts the number into binary numbers

0b1010

# Eval Function

In [3]:
x = 10
y = 5
expression = "x + y * 2"
print(eval(expression))  #It evaluates the expression and give the answer by solving it.

20

# Help Function

In [4]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [5]:
sum??

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

# Practice Question

In [15]:
age = int(input("Enter an age in years: "))   #Ask age from user
weight = int(input("Enter weight in kg:"))    #Ask weight from user
height = float(input("Enter height in cm: ")) #ask height from user
print("correct age: ", abs(age))              # convert age into positie alue using absolute function
BMR = " 88.362 + (13.397 * weight) + (4.799 * height) - (5.677 * age) "  #applying formula for calculating  Basal Metabolic rate
bmr = eval(BMR)                              #Evaluate expression
print("The bmr of the patient is: ", int(bmr)) #converting final result into integer values

Enter an age in years:  -30
Enter weight in kg: 60
Enter height in cm:  170

correct age:  30
The bmr of the patient is:  1878

# Question 2

# Write a Python code for hostel students, ask them to mention their course name and age.
# for 5 students and calculate their avg age

In [17]:
stud_1_name = input("Enter course_name of a first student:" )    #mention students course name age
stud_2_name = input("Enter course_nameof a second student:" )
stud_3_name = input("Enter course_name of a third student:" )
stud_4_name = input("Enter course_name of a fourth student:" )
stud_5_name = input("Enter course_name of a fifth student:" )
stud_1_age = int(input("Enter age of a first student:" ))
stud_2_age = int(input("Enter age of a second student:" ))
stud_3_age = int(input("Enter age of a third student:" ))
stud_4_age = int(input("Enter age of a fourth student:" ))
stud_5_age = int(input("Enter age of a fifth student:" ))

avg = (stud_1_age + stud_2_age + stud_3_age + stud_4_age + stud_5_age)/5  #average calculation of students' age
print(avg)

Enter course_name of a first student: AI
Enter course_nameof a second student: NLP
Enter course_name of a third student: ML
Enter course_name of a fourth student: Computer
Enter course_name of a fifth student: Networking
Enter age of a first student: 33
Enter age of a second student: 32
Enter age of a third student: 30
Enter age of a fourth student: 25
Enter age of a fifth student: 45

33.0

# Practice for interview Question
Question 1

In [18]:
math_exp = input("Enter a mathematical expression: ")  # Ask particpants to enter a mathematical expression
result = eval(math_exp)                                #Evaluate expression
print("The result is ", result)                        # Display the result to participant

Enter a mathematical expression:  (2 + 3) * 23/5 - 10

The result is  13.0

# Question 2

In [20]:
house_size_1 = float(input("Enter user1 house size: "))   #Ask user 1 & 2 enter the house size and  no of bedrooms
bedrooms_1 = int(input("Enter user1 bedrooms: "))
price_1 = int(input("Enter user 1 budget price: "))

house_size_2 = float(input("Enter user2 house size: "))
bedrooms_2 = int(input("Enter user2 bedrooms: "))
price_2 = int(input("Enter user2 budget price: "))

house_price_1 = house_size_1 * 5000               #Calculation of house price for user 1
print("The price of house 1 is: ",house_price_1)

house_price_2 = house_size_2 * 5000                     #Calculation of house price for user 1
print("The price of house 2 is: ",house_price_2)

threshold_price = 7500000

user_threshold_1 = house_price_1 >= threshold_price     #To check whether house price is greater than threshold price
user_threshold_2 = house_price_2 >= threshold_price

print(f"User1 is paying above threshhold ", user_threshold_1)
print(f"User2 is paying above threshhold ", user_threshold_2)

Enter user1 house size:  3000
Enter user1 bedrooms:  4
Enter user 1 budget price:  5000000
Enter user2 house size:  4000
Enter user2 bedrooms:  5
Enter user2 budget price:  8000000

User1 is paying above threshhold  True
User2 is paying above threshhold  True

# Question 3

In [24]:
stock_symbol = "xyz"   #Variables declared
curr_price = 200         #Current prcie
perc_change_in_price = 10   #percentage chaneg in price
new_price = curr_price * (1+perc_change_in_price/100)  #new price calculation by 10% increment
print("The new price of the stock is: ", new_price)
budget = float(input("Enter budget: "))              #budget from user
budg_comp = budget >= new_price                      #budget comparison with new price
print("The budget is greater than new price: ",budg_comp)

The new price of the stock is:  220.00000000000003

Enter budget:  80000

The budget is greater than new price:  True

# Question 4

In [28]:
curr_temp = 51   #Current temperature
min_temp = 30    #minimum temperature
max_temp = 49    #maximum temperature
curr_temp_range = min_temp <= curr_temp <= max_temp  # To check whether current temperature is within the range or not?
print(f"The current temperature is within the range of maximum and minimum temperature: ", curr_temp_range)

The current temperature is within the range of maximum and minimum temperature:  False

# Today's Assignment Questions of conditional statement using if, elif and else

# Question 1

In [30]:
num = int(input("Enter a number: "))   # Ask user to enter a number 
if num > 10:                           # condition is applied to check whether number is greater or smaller
    print("Number is big.")  
else:
    print("Number is small.")

Enter a number:  34

Number is big.

# Question 2

In [32]:
age = int(input("Enter age of user: "))  #Ask user to enter age
if age >= 18:                            #condition to check whether entered age is greater or less than 18
    print("You are an adult.")          #in case of condition is true print this statment
else:
    print("You are not an adult.")      #in case of condition is false print this statment

Enter age of user:  12

You are not an adult.

# Question 3

In [34]:
num = int(input("Enter a number: "))   #Ask user to enter a number
if num %2 == 0:                        # condition is applied to check even and odd numebr
    print("Even number.")              #in case of condition is true print this statment
else:
    print("odd number")               #in case of condition is false print this statment

Enter a number:  39

odd number

# Question 4

In [36]:
num1 = int(input("Enter first number: "))    #Ask user to enter first number
num2 = int(input("Enter second number: "))   ##Ask user to enter second number
if num1 > num2:                              # comparison of both numbers to check which is greater 
    print("First is greater.")
elif num2 > num1:
    print("Second is bigger.")
else:
    print("Both are equal.")

Enter first number:  23
Enter second number:  45

Second is bigger.

# Question 5

In [38]:
name = input("Enter user name: ")    # Ask user to enter his name
if name == "Ali":                    # to check is entering name by user is Ali or not
    print("Welcome Ali!")            
else:
    print("You are not Ali.")

Enter user name:  Ali

Welcome Ali!

# Calculate Net salary

In [42]:
base_salary = float(input("Enter your base salary"))
years_of_service = int(input("Enter your years of service"))
if years_of_service > 5:
    total_salary = base_salary * (0.08 * base_salary) - (0.12 * base_salary)
    print("You will get net_salary ", total_salary)
else:
    net_salary = base_salary * (0.12 * base_salary)
    print("your net salary is: ", net_salary)

Enter your base salary 50000
Enter your years of service 6

You will get net_salary  199994000.0

# Example 2

In [45]:
a = input("Enter the city ")

if a == "Mumbai":
    print("The famous momument is gateway of India.")
elif a == "Kolkata":
    print("The famous monument of Kolkata is Victorian Memorial. ")
elif a == "Chennai":
    print("The famous monument of Chennai is Marina Beach. ")
elif a == "Bengalore":
    print("The famous monument of Bengalore is Botanical Garden. ")
elif a == "Pune":
    print("The famous monument of Pune is Shaniwar Wada. ")
else:
    print("No record found.")

Enter the city  delhi

No record found.

# print even numbers between 1 and 50 using while loop

In [49]:
num = 1
while num <= 50 :
    if num %2 == 0:
        print(num)
    num = num + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# Email is valid or not

In [ ]:
email = input("Enter an email id ")

valid_email = False
while not valid_email:
    if "@" in email and "." in email:
        print("Your email is valid")
        valid_email = True
    else:
        print("Your email id is not valid, try again")
        print(input("Please enter your email again"))